 <div th:fragment="navbar">
 
	<nav class="navbar navbar-expand navbar-dark bg-dark">
 				<ul class="navbar-nav">
					<li class="nav-item active"><a class="nav-link" href="#">Home
							<span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item"><a class="nav-link" href="#">A Blogs</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="#">Hi {sargam thakare}</a></li>
					<li> <button id="signout" value="sign out" class="smoothscroll" onclick="location.href='/bloglist'" >sign out</button> </li>

				</ul>
 		</nav>
         </div>